h2 {
    font-size: 1.2rem;
    text-decoration: underline;
    color: #fff;
    letter-spacing: 2px;
    padding-left: 20px;
}

.price {
    color: #fff;
    font-size: 1.2;
    padding-left: 20px;
}

h3, 
h4 {
    color: #113340;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 10px;
    text-decoration: underline;
}

.arctic-sec-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #113340;
    max-width: 100%;
    padding: 10px;
    margin: 20px;
}

.arctic__img {
    max-width: 100%;
}

.arctic-sec-2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(205, 215, 215);
    padding: 20px;
    margin: 20px;
}

.color-option {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.color-label {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    align-items: center;
    margin: 5px;
    text-transform: uppercase;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-bottom: 5px;
    margin-right: 15px;
}

input[type="radio"]:checked + .color-label .color-circle {
    border: 2px solid #000;
}

input[type="radio"] {
    display: none;
}

.info {
    font-size: 1rem;
    max-width: 500px;
    padding: 20px;
}

.size-container {
    display: flex;
    justify-content: center;
}

@media (min-width: 600px) {
    .arctic-sec-1 {
        margin: 50px;
    }
  
    .arctic-sec-2 {
        margin: 50px;
    }
  }
    