.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30%;
    background-color: #d9d9d9;
    height: 100vh;
    margin: 20px;
}

.green-tick i {
    font-size: 5rem;
    color: green;
    margin-bottom: 20px;
}

.message-sent {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    color: #113340;
    max-width: 300px;
    line-height: 1.5;
    padding: 0 20px;
}

@media (min-width: 600px) {
    .contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
        background-color: #d9d9d9;
        height: 100vh;
        margin: 50px;
    }
    
    .green-tick i {
        font-size: 6rem;
        color: green;
        margin-bottom: 20px;
    }
    
    .message-sent {
        font-size: 1.6rem;
        text-align: center;
        font-weight: bold;
        color: #113340;
        max-width: 400px;
        line-height: 1.5;
        padding: 0 20px;
    }
}