.contact-success {
    margin-top: 200px;

}

p {
    font-family: "cantarell";
}

main {
    text-align: center;
    margin: 0 auto;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    height: 100vh;
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 20px;
}

.green-tick i {
    font-size: 6rem;
    color: green;
    margin-bottom: 20px;
}

.message-sent {
    font-size: 1.5rem;
    color: #113340;
    max-width: 600px;
    line-height: 1.5;
    padding: 0 20px;
}

