h1,
h2,
p {
    font-family: "Cantarell";
    color: #fff;
    font-size: 1rem
}

h1,
h2 {
    text-decoration: underline;
}

.logo-container {
    background-image: url(../assets/images/beach-yellow-jacket.jpg);
    min-height: 520px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    display-inline: block;
}

.logo {
    padding-top: 10px;
}

@media (min-width: 600px) {
    .logo-container {
        position: relative;
        background-image: url(../assets/images/beach-yellow-jacket.jpg);
        min-height: 879px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        margin-top: 0px;
        width: 100%;
      }

      .logo {
        padding-top: 20px;
      }

}

.slogan-section {
    display: flex;
    justify-content: center;
}

.slogan {
    width: 100%;
    max-width: 450px;
    height: 49px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 600px) {
    .slogan {
        width: 100%;
        max-width: 1300px;
        height: auto;
        margin-top: 15px;
    }
}

.arctic-section, 
.advert-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #113340;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.arctic__image,
.canoe__image {
    width: 100%;
    height: auto;
}

@media (min-width: 600px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .arctic-section,
    .advert-section {
        flex: 1;
        margin: 20px 20px;
        max-width: 100%;
    }

    .arctic__image,
    .canoe__image {
        max-width: 100%;
    }
}

.rainy-bow-section {
    display: flex;
    align-items: center;
    background-color: #113340;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.rainy-bow__image {
    width: 100%;
    height: auto;
}

@media (min-width: 600px) {
    .rainy-bow-section {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .rainy-bow__image {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: fit-content;
        height: auto;
    }
}

.ski_section {
    display: flex;
    background-color: #113340;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.ski-img {
    width: 100%;
}

.skiing__image {
    width: 100%;
    height: auto;
}

.ski-p {
    text-align: center;
    color: #113340;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    max-width: 100%;

.p-ski {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.5;
    text-decoration: underline;
}

@media (min-width 600px) {
    .ski_section {
        flex-direction: row;
    }

    .ski-img,
    .ski-p {
        flex: 1;
        max-width: 50%;
    }

    .p-ski {
        font-size: 1.2rem;
        text-align: left;
    }

    .ski-p {
        padding: 40px;
    }
}


