.alumni-sans {
  font-family: "Alumni Sans", sans-serif;
}

.cantarell {
    font-family: "Cantarell";
}

header a,
ul,
h1,
footer {
    font-family: "Alumni Sans", sans-serif;
}

h2,
h3,
p {
    font-family: "Cantarell";
}



    

